.logo-img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 179.18px;
    height: 62.07px
}
.input-feild {
    width: 296.8px;
    height: 27.4px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 12px;
    border-color: #707070;
    border-radius: 0px;
}
.create-txt {
    font-size: 14px;
    color: black;
}
.gender-txt {
    color: #979797;
    text-align: left;
    border: 0px;
    width: 296.8px;
    height: 27.4px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;
    border-color: #707070;
    border-radius: 0px;
}
.gender-input {
    color: #1D3B4F;
    font-size: 12px;
    text-align: left;
    width: 245.8px;
    margin: 0 auto;
    margin-top: 0px;
}
.gender-input-inner {
    margin-right: 40px;
}

.forget-txt {
    font-size: 12px;
    color: #1D3B4F
}
